<a href="https://colab.research.google.com/github/wangyouzhong/MLStudy/blob/master/Power_Prediction_MultiTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Data

In [1]:
import io
import pandas as pd

from google.colab import files

import numpy as np
from datetime import date, timedelta

In [2]:
# add daily sum and time bucket ratio to daily sum as features
def data_preprocess(df):
  df.columns = ['Id', 'Date'] + [f'TB{i}' for i in range(1, 97)]
  df['Day_Sum'] = df.apply(lambda row: np.sum(row[2:]), axis=1)
  for i in range(1, 97):
    df[f'TB{i}_Ratio'] = df.apply(lambda row: row[f'TB{i}'] / row['Day_Sum'], axis=1)
  return df

def data_shift_days(df, days_delta):
  df['Date'] = df['Date'] + pd.Timedelta(days=days_delta)
  return df

In [3]:
uploaded = files.upload()

Saving 131151000000000965.csv to 131151000000000965.csv

In [4]:
df_l1 = pd.read_csv(io.BytesIO(uploaded['131151000000000965.csv']), header=None)
df_l1 = data_preprocess(df_l1)
df_l1

                    Id        Date  ...  TB95_Ratio  TB96_Ratio
0   131151000000000965  2019-01-01  ...    0.007645    0.007307
1   131151000000000965  2019-01-02  ...    0.007681    0.007365
2   131151000000000965  2019-01-03  ...    0.007712    0.007334
3   131151000000000965  2019-01-04  ...    0.007602    0.007402
4   131151000000000965  2019-01-05  ...    0.007659    0.007371
..                 ...         ...  ...         ...         ...
85  131151000000000965  2019-03-27  ...    0.007708    0.007412
86  131151000000000965  2019-03-28  ...    0.007723    0.007306
87  131151000000000965  2019-03-29  ...    0.007686    0.007301
88  131151000000000965  2019-03-30  ...    0.007622    0.007287
89  131151000000000965  2019-03-31  ...    0.007755    0.007287

[90 rows x 195 columns]

In [ ]:
uploaded = files.upload()

Saving L3.csv to L3.csv

In [ ]:
df_l3 = pd.read_csv(io.BytesIO(uploaded['L3.csv']))
df_l3 = data_preprocess(df_l3)

In [ ]:
def build_train_data(df1, df3, start_ds, end_ds, shift_days):
  train_data = pd.DataFrame.copy(df3[(df3['Date']>=start_ds) & (df3['Date']<=end_ds)])
  
  # Join L3 data with L1 previous days data
  for i in range(1, shift_days+1):
    df_shift = pd.DataFrame.copy(df1[(df1['Date']>=(start_ds + timedelta(days=-i))) & (df1['Date']<=(end_ds + timedelta(days=-i)))])
    df_shift = data_shift_days(df_shift, i).drop(columns=['Id']).set_index('Date')
    train_data = train_data.join(df_shift, rsuffixstr=f'_d{i}_L1')
  
  # Join L3 data with L3 previous days data
  train_data = train_data.reset_index().set_index(['Date', 'Id'])
  for i in range(1, shift_days+1):
    df_shift = pd.DataFrame.copy(df3[(df3['Date']>=(start_ds + timedelta(days=-i))) & (df3['Date']<=(end_ds + timedelta(days=-i)))])
    df_shift = data_shift_days(df_shift, i).set_index(['Date', 'Id'])
    train_data = train_data.join(df_shift, rsuffixstr=f'_d{i}_L1')
  
  # Add id and week of days as one hot features
  train_data = train_data.reset_index()
  train_data = pd.concat(
      [
       train_data, 
       pd.get_dummies(train_data['Id'], prefix='Id'),
       pd.get_dummies(train_data.apply(lambda row: row['Date'].weekday(), axis=1), prefix='Weekday')
       ],axis=1)

  return train_data

In [ ]:
TRAIN_DS_START = date(2019, 1, 8)
TRAIN_DS_END = date(2019, 3, 15)
VALIDATE_DS_START = date(2019, 3, 16)
VALIDATE_DS_END = date(2019, 3, 31)

NUM_PREVIOUS_DAYS = 7

In [ ]:
train_data = build_train_data(df_l1, df_l3, TRAIN_DS_START, TRAIN_DS_END, NUM_PREVIOUS_DAYS)

In [ ]:
validate_data = build_train_data(df_l1, df_l3, VALIDATE_DS_START, VALIDATE_DS_END, NUM_PREVIOUS_DAYS)
validate_x, validate_y = validate_data.values[:,:num_features].astype('float32'), validate_data.values[:,num_features].astype('float32')

# Build A DNN Model

In [ ]:
import tensorflow as tf

In [ ]:
model = tf.keras.Sequential(
    layers = [
        tf.keras.layers.Dense(512, activation='relu', input_shape=(num_features,)),
        tf.keras.layers.Dropout(0.5),
        tf.keras.layers.Dense(128, activation='relu'),
        tf.keras.layers.Dropout(0.5),
        tf.keras.layers.Dense(128, activation='relu'),
        tf.keras.layers.Dropout(0.5),
        tf.keras.layers.Dense(128, activation='relu'),
        tf.keras.layers.Dropout(0.5),
        tf.keras.layers.Dense(1),
    ]
)

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 512)               786944
_________________________________________________________________
dropout (Dropout)            (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               65664
_________________________________________________________________
dropout_1 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_2 (Dense)              (None, 128)               16512
_________________________________________________________________
dropout_2 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_3 (Dense)              (None, 128)               16512
_________________________________________________________________
dropout_3 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 129
=================================================================
Total params: 885,761
Trainable params: 885,761
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam',loss=tf.keras.losses.mean_squared_error, metrics=['mae'])

In [ ]:
model.fit(x=train_x, y=train_y, batch_size=100, epochs = 10, validation_data = (validate_x, validate_y))

Epoch 1/10
2581/2581 [==============================] - 9s 4ms/step - loss: 29014.2520 - mae: 67.2087 - val_loss: 53874.2656 - val_mae: 118.7374
Epoch 2/10
2581/2581 [==============================] - 9s 3ms/step - loss: 21203.6230 - mae: 61.4643 - val_loss: 40326.7656 - val_mae: 108.5685
Epoch 3/10
2581/2581 [==============================] - 8s 3ms/step - loss: 20198.0566 - mae: 59.3313 - val_loss: 52244.0156 - val_mae: 97.7320
Epoch 4/10
2581/2581 [==============================] - 8s 3ms/step - loss: 18910.1914 - mae: 57.4993 - val_loss: 86573.2578 - val_mae: 139.4962
Epoch 5/10
2581/2581 [==============================] - 8s 3ms/step - loss: 19802.5234 - mae: 57.4102 - val_loss: 80913.5938 - val_mae: 109.0491
Epoch 6/10
2581/2581 [==============================] - 8s 3ms/step - loss: 18469.8496 - mae: 55.1614 - val_loss: 93480.5312 - val_mae: 124.6829
Epoch 7/10
2581/2581 [==============================] - 8s 3ms/step - loss: 17892.5234 - mae: 54.7183 - val_loss: 98728.8828 - val_mae: 127.8188
Epoch 8/10
2581/2581 [==============================] - 8s 3ms/step - loss: 17176.4629 - mae: 54.7786 - val_loss: 136546.5000 - val_mae: 117.7755
Epoch 9/10
2581/2581 [==============================] - 8s 3ms/step - loss: 16202.8057 - mae: 53.7782 - val_loss: 95047.5000 - val_mae: 113.5102
Epoch 10/10
2581/2581 [==============================] - 8s 3ms/step - loss: 16349.6826 - mae: 53.8080 - val_loss: 113091.4688 - val_mae: 124.9384

# Evaluate the Model

In [ ]:
# Model prediction
predicted_validate_y = model.predict(validate_x, batch_size = 100).flatten()
if 'predicted_value' in validate_data.columns:
  validate_data = validate_data.drop(columns=['predicted_value'])
validate_data.insert(loc = 0, column='predicted_value', value = predicted_validate_y)

In [ ]:
# Reduce to Date-Id level
validate_data_groupby = validate_data.groupby(['Date', 'Id'])
reduced_validated_data = validate_data_groupby.apply(
    lambda x: np.sum(x['TB1_L3']*validate_data['predicted_value'])).to_frame(
        name='Predicted_TB1_L3').reset_index().set_index(['Date', 'Id'])
for i in range(2, 97):
  print(f'Join predicted value {i}')
  reduced_validated_data = reduced_validated_data.join(
      validate_data_groupby.apply(
        lambda x: np.sum(x[f'TB{i}_L3']*validate_data['predicted_value'])).to_frame(
            name=f'Predicted_TB{i}_L3').reset_index().set_index(['Date', 'Id'])
  )
for i in range(1, 97):
  print(f'Join raw value {i}')
  reduced_validated_data = reduced_validated_data.join(
      validate_data_groupby.apply(
        lambda x: np.sum(x[f'TB{i}_L3']*validate_data['label'])).to_frame(
            name=f'TB{i}_L3').reset_index().set_index(['Date', 'Id'])
  )
reduced_validated_data

Join predicted value 2
Join predicted value 3
Join predicted value 4

In [ ]:
reduced_validated_data.iloc[0]

In [ ]:
import matplotlib.pyplot as plt
x = list(range(1, 97))
row0 = reduced_validated_data.iloc[20]
y0 = [row0[f'TB{i}_L3'] for i in x]
y1 = [row0[f'Predicted_TB{i}_L3'] for i in x]
plt.plot(x, y0, 'b')
plt.plot(x, y1, 'r')
plt.show()

In [ ]:
reduced_validated_data